/* ___________________________________________

    #Google-fonts
    __________________________________________*/

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
     
}

/* #container{
   border: 1px solid black;
} */

/* __________________________________________

    #Left-Index
    _________________________________________ */

     #left-index{
        position: fixed;
        height: 100vh;
        width: 22vw;
        border: 1px solid black;
        background: rgb(178,181,67);
        background: linear-gradient(90deg, rgba(178,181,67,1) 0%, rgba(2,8,32,1) 0%);
         
     }

     /* Profile-img */

     #profile-img{
        margin-top: 20px;
        height: 130px;
        width: 130px;
        border-radius: 75px;
        border: 7px solid rgb(49, 47, 47);
     }

     /* Profile Name Style */

     #profile-name-text{
        font-family: 'Raleway', sans-serif;
        color:rgb(196, 208, 219);
        font-size: 25px;
        margin-top: 15px;
         

     }

     /* Social-Icons */

     #social-icons{
        margin-top: 10px;
     }

     .social-icon-img{
        border: 2px solid rgb(235, 229, 229);
        margin-top: 15px;
        height: 32px;
        width: 32px;
        color: rgb(241, 235, 235);
        border-radius: 25px;
        background-color: white;
        margin-left: 5px;
         
        
     }

     /* Left Index Content */

     #nav-list{
        background: rgb(178,181,67);
        background: linear-gradient(90deg, rgba(178,181,67,1) 0%, rgba(2,8,32,1) 0%);
         
     }


     .index-text{
        font-family: 'Poppins', sans-serif;
        color: rgb(197, 203, 209);
        font-size: 16px;
        font-weight:bold;
          
         
     }

      

     .content-margin{
        margin-top: 35px;
     }

     .index-icon{
       
      height: 25px;
      width: 25px;
      /* padding-top: 5px; */
      margin-top: 30px;
      margin-left: 75px;
      border-radius: 15px;
      /* padding-top: 30px; */
      
  }
  
  .index-text{
      text-decoration: none;
      color: rgb(228, 218, 218);
      font-size: 16px;
      margin-left: 5px;
       
      
  }

  #index-content{
   height: 50px;
   width: 50px;
   margin-top: 30px;
  }

  #index-table{
   margin-left: 15px;
   margin-top: 30px;
  }

  .index-text-space{
   margin-top: 2px;
   font-size: 16px;
   margin-left: 5px;
  }


  /* _________________________________________________________________
  
   #Home Page
   ___________________________________________________________________*/

   #home-page{
      background: rgb(178,181,67);
      background: rgb(178,181,67);
      background: linear-gradient(90deg, rgba(178,181,67,1) 0%, rgba(1,1,19,1) 0%, rgba(5,8,25,1) 22%, rgba(2,7,29,1) 45%, rgba(2,7,25,1) 66%, rgba(8,17,51,1) 87%);
      height: 100vh;
      width: 78vw;
      float: right;
      border: 1px solid black;

       
       

   }

   /* #home-page-logo{
      height: 50vh;
      width: 50vh;
      background-color: aqua;
      background: black;
   } */
   

    #homepage-content-area{
      /* border: 1px solid white; */
      width: 100vh;
      height: 30vw;
      float: right;
      margin-top: 25vh;

    }

    #homepage-content1{
      font-family: 'Oxygen', sans-serif;
      color:rgb(110, 158, 202);
      font-size: 1.5rem;
      float: right;
      margin-top: 1rem;
    }

    #homepage-content2{
      font-family: 'Raleway', sans-serif;
      color: rgb(219, 227, 230);
      font-size: 4rem;
      float: right;
      margin-top: 1rem;
    }

    #homepage-content3{
      font-family: 'Oxygen', sans-serif;
      font-size: 1.5rem;
      color:rgb(110, 158, 202);
      float: right;
      margin-top: 1rem;
    }

    #homepage-content4{
      font-family: 'Raleway', sans-serif;
      color: rgb(245, 145, 217);
      font-size: 2.5rem;
      float: right;
      margin-top: 1rem;
    }

    #web-underline{
      background-color: rgb(245, 145, 217);
      height: 0.7vh;
      width: 44vw;
      margin-top: 31vh;
    }


    /* _____________________________________________________________
    
      #About Page
      ______________________________________________________________*/

      #about-page{
         background-color:aliceblue;
         /* background: rgb(178,181,67);
         background: rgb(178,181,67);
         background: linear-gradient(90deg, rgba(178,181,67,1) 0%, rgba(1,1,19,1) 0%, rgba(5,8,25,1) 22%, rgba(2,7,29,1) 45%, rgba(2,7,25,1) 66%, rgba(8,17,51,1) 87%); */
         height: 170vh;
         width: 77vw;
         float: right;
         /* border: 1px solid rgb(1, 13, 19); */
         

      }

      /* Page Heading */

      .page-heading{
         font-family: 'Raleway', sans-serif;
         color:rgb(24, 60, 114);
         font-size: 2.2rem;
         font-weight: 100;
         margin-left: 2.5vw;
         margin-top: 5vh;
         width : 74.4vw;
      }

      .heading-underline{
         background-color: rgb(61, 182, 182);
         height: 0.6vh;
         width: 5vw;
         margin-left: 2.5vw;
         margin-top: 2.5vh;
      }

      #bio-about{
         font-family: 'Work Sans', sans-serif;
         color: black;
         font-size: large;
         font-weight:bolder;
         margin-left: 2.5vw;
         margin-top: 3vh;
         line-height: 4vh;
         width : 74.4vw;
         
      } 
      

      /* About page main flex div */
       
      #about-main-area{
         /* border: 1px solid black; */
         height: 60vh;
         width: 77vw;
         margin-top: 5vh;
         display: flex;
         width : 74.4vw;
          
      }

      #about-profile-pic{
         /* border: 1px solid black; */
         margin-top: 0vh;
         height: 45vh;
         width: 27vw;
         margin-left: 1.5vw;
      }

      #about-selfinfo{
         /* border: 1px solid black; */
         margin-top: 0vh;
         height: 45vh;
         width: 45vw;
      }

      .about-profile-pic-setup{
         height: 40vh;
         width: 25vw;
         margin-left: 1vw;
      }

      #about-selfinfo-heading{
         font-family: 'Raleway', sans-serif;
         color:rgb(24, 60, 114);
         font-size: 2rem;
         margin-left: 1vw;

      }

      #selfinfo-content{
         /* border: 1px solid black; */
         height: 35vh;
         width: 45vw;
         display: flex;
         margin-top: 4vh;
      }

      .selfinfo-content-left{
         /* border: 1px solid black; */
         font-family: 'Oxygen', sans-serif;
         font-size: 1.1rem;
         padding-left: 3.5vw;
         padding-top: 4vh;
         height: 35vh;
         width: 25vw;
      }

      .selfinfo-content-right{
         /* border: 1px solid black; */
         font-family: 'Oxygen', sans-serif;
         font-size: 1.1rem;
         padding-left: 0vw;
         padding-top: 4vh;
         height: 35vh;
         width: 25vw;
      }

      


      /* Skills */

       

      .heading-underline{
         background-color: rgb(61, 182, 182);
         height: 0.6vh;
         width: 5vw;
         margin-left: 2.5vw;
         margin-top: 2.5vh;
      }
      
      /* Slidebar Subject Name */

      .slidebar-title{
         font-family: 'Oxygen', sans-serif;
         /* font-size: 10px;
         font-weight: bolder; */
         
      }

      #skills-main-div-area{
          
         height: 60vh;
         width: 77vw;
         margin-top: 5vh;
         /* border : 1px solid black; */
          
      }

      #skills-main-bgwhite{
         height: 45vh;
         width: 73vw;
         margin-top: 5vh;
         margin-left: 2.5vw;
         
         background-color: white;
         /* border: 1px solid black; */

      }

      /* Skills main flex div */

      .skills-main-div-area-flex{
         display: flex;
         /* border: 1px solid black; */
         
      }

      /* Skills first/second/third flex div */

      .skills-row-first{
         /* border: 1px solid black; */
         margin-top: 7vh;
         margin-left: 2.5vw;
         height: 5vh;
         width: 68vw;
         display: flex;

      }

       

      .skills-row-first-left{
         /* border: 1px solid black; */
         height: 5vh;
         width: 32vw;

      }

       

      .skills-row-first-right{
         /* border: 1px solid black; */
         height: 5vh;
         width: 32vw;
         margin-left: 5vw;

      }

      .skills-row-second-right{
         /* border: 1px solid black; */
         height: 5vh;
         width: 31vw;
         margin-left: 5vw;

      }

      .skills-slidebar{
         /* border: 1px solid black; */
         height: 2vh;
         width: 100%;
         margin-top: 1vh;
         display: flex;
      }

      /* HTML Slidebbar */

      #skills-rowfirst-slidebarfirst-alignleft{
         /* border: 1px solid black; */
         background-color:rgb(16, 65, 223);
         height: 1.5vh;
         width: 80%;
         margin-top: 0vh;
          
      }

      #skills-rowfirst-slidebarfirst-alignright{
         /* border: 1px solid black; */
         background-color: rgb(204, 211, 218);
         height: 1.5vh;
         width: 20%;
         margin-top: 0vh;

         
          
      }

      /* SQL Slidebar */

      #skills-rowfirst-slidebarsecond-alignleft{
         /* border: 1px solid black; */
         background-color:rgb(16, 65, 223);
         height: 1.5vh;
         width: 80%;
         margin-top: 0vh;
          
      }

      #skills-rowfirst-slidebarsecondt-alignright{
         /* border: 1px solid black; */
         background-color: rgb(204, 211, 218);
         height: 1.5vh;
         width: 20%;
         margin-top: 0vh;

         
          
      }

      /* CSS Slidebar */

      #skills-rowsecond-slidebarfirst-alignleft{
         /* border: 1px solid black; */
         background-color:rgb(16, 65, 223);
         height: 1.5vh;
         width: 80%;
         margin-top: 0vh;
          
      }

      #skills-rowsecond-slidebarfirst-alignright{
         /* border: 1px solid black; */
         background-color: rgb(204, 211, 218);
         height: 1.5vh;
         width: 20%;
         margin-top: 0vh;

         
          
      }

      /* MYSQL Slidebar */

      #skills-rowsecond-slidebarsecond-alignleft{
         /* border: 1px solid black; */
         background-color:rgb(16, 65, 223);
         height: 1.5vh;
         width: 70%;
         margin-top: 0vh;
          
      }

      #skills-rowsecond-slidebarsecondt-alignright{
         /* border: 1px solid black; */
         background-color: rgb(204, 211, 218);
         height: 1.5vh;
         width: 30%;
         margin-top: 0vh;

         
          
      }

      /* JAVASCRIPT Slidebar */

      #skills-rowthird-slidebarfirst-alignleft{
         /* border: 1px solid black; */
         background-color:rgb(16, 65, 223);
         height: 1.5vh;
         width: 70%;
         margin-top: 0vh;
          
      }

      #skills-rowthird-slidebarfirst-alignright{
         /* border: 1px solid black; */
         background-color: rgb(204, 211, 218);
         height: 1.5vh;
         width: 30%;
         margin-top: 0vh;

         
          
      }

      /* GIT Slidebar */

      #skills-rowthird-slidebarsecond-alignleft{
         /* border: 1px solid black; */
         background-color:rgb(16, 65, 223);
         height: 1.5vh;
         width: 70%;
         margin-top: 0vh;
          
      }

      #skills-rowthird-slidebarsecondt-alignright{
         /* border: 1px solid black; */
         background-color: rgb(204, 211, 218);
         height: 1.5vh;
         width: 30%;
         margin-top: 0vh;

         
          
      }

       
      /* _________________________________________________________________________
      
         #Resume
         ________________________________________________________________________*/

         #resume-page{
            background-color:aliceblue;
            height: 145vh;
            width: 77vw;
            float: right;
            /* border: 1px solid black; */
         }

         #resume-page-flex-div{
            display: flex;
            width : 74.4vw;
            
         }

         #resume-page-first-div{
            height: 100vh;
            width: 37vw;
            float: right;
            margin-top: 20vh;
            /* border: 1px solid hwb(0 9% 91%); */
         }

         #resume-page-second-div{
            height: 95vh;
            width: 38.5vw;
            float: right;
            margin-top: 20vh;
            margin-left: 1vw;
            border-left: 2px solid black;
            /* border: 1px solid black; */
            
         }

         .resume-page-first-div-heading{
            font-family: 'Raleway', sans-serif;
            color: rgb(22, 22, 22);
            font-size: 1.8rem;
            /* font-size: larger; */
            margin-left: 2.5vw;
            width : 25vw;

         }

          

         #resume-page-second-div-heading{
            font-family: 'Raleway', sans-serif;
            color: rgb(22, 22, 22);
            font-size: 1.8rem;
            /* font-size: larger; */
            margin-left: 0vw;
            margin-left: 2.5vw;
            width : 25vw;

         }

         .heading-suhas{
            font-family: 'Raleway', sans-serif;
            color: rgb(22, 22, 22);
            font-size: 1.5rem;
            margin-left: 3vw;
            width : 25vw;
         }

         #resume-bio{
            font-family: 'Oxygen', sans-serif;
            color: rgb(22, 22, 22);
            font-size: 1.02rem;
            font-weight:bolder;
            margin-left: 4vw;
            margin-top: 3vh;
            line-height: 4vh;
            width : 28vw;

         }

         #resume-ul-left{
            font-family: 'Oxygen', sans-serif;
            color: rgb(22, 22, 22);
            margin-left: 6vw;
            font-size: 1.1rem;
            width : 28vw;

         }

         #resume-button{
            font-family: 'Oxygen', sans-serif;
            color: rgb(22, 22, 22);
            font-size: 0.9rem;
            font-weight: bold;
            border-style: none;
            height: 2.2vw;
            width: 7vw;
            margin-left: 4vw;
            margin-top: 2vh;
            /* border: 1px solid black; */
            background-color: rgb(213, 217, 221);
           
         }

         #resume-university{
            font-family: 'Raleway', sans-serif;
            color: rgb(22, 22, 22);
            font-size: 1.2rem;
            margin-left: 3vw;
            margin-top: 2vh;
            width : 28vw;
         }

         #resume-cgpa{
            font-family: 'Raleway', sans-serif;
            color: rgb(22, 22, 22);
            font-size:medium;
            margin-left: 4vw;
            margin-top: 2vh;
            width : 25vw;

         }

         /* __________________________________________________________
         
            #Portfolio Page
            ___________________________________________________________*/

            #portfolio-page{
               background-color:aliceblue;
               height: 135vh;
               width: 77vw;
               float: right;
               /* border: 1px solid black; */
            }

            #project-div{
               height: 110vh;
               width: 76.9vw;
               display: flex;
               /* border: 1px solid black; */
                
            }

            .project-flex{
               height: 50vh;
               width: 23vw;
               margin-left:2vw;
               display: flex;
               background-color: white;
               border: 1px solid blac  k;
            }

            .project-frame{
               height: 50vh;
               width: 20vw;
               margin-left: 1.5vw;
               /* border: 1px solid black; */
            }

            .project-img-frame{
               margin-top: 1vh;
               height: 30vh;
               width: 20vw;
               /* border: 1px solid black; */
                
               /* margin-top: 5vh; */
            }

            .project-info{
               display: flex;
               height: 4vh;
               
               /* border: 1px solid black; */
                
               /* margin-top: 2.5vh; */
               padding-left: 2vw;
               
            }

            .project-info-font{
               font-family: 'Raleway', sans-serif;
               color: rgb(48, 83, 238);
               /* text-decoration : none; */
               font-size: 0.9rem;
               padding-top: 0.4vh;
               
               /* border:1px solid black; */
            }

             

            .project-heading-font{
               font-family: 'Poppins', sans-serif;
               font-size: 1.3rem; 
               color: black;
               padding-top: 1vh;
               /* align-items: left; */
               width:13vw;
               
               /* border: 1px solid black; */
               
            }

            /* Spotify More Details */

            .container-moredetails{
               background-color:aliceblue;
               height: 130vh;
               width: 78vw;
               float: right;
               border: 1px solid black;
            
            
            }

            .project-heading-flex{
               
               display: flex;
               background-color:aliceblue;
               height: 15vh;
               /* border: 1px solid black; */
            }

            .project-heading{
               font-family: 'Poppins', sans-serif;
               color:rgb(54, 54, 54);
               font-size: 1.5rem;
               font-weight: 100;
               width: 20vw;
               margin-left: 3vw;
               margin-top: 5vh;
               /* border: 1px solid black; */
               
            }

            .home-link{
               font-family: 'Poppins', sans-serif;
               color:rgb(54, 54, 54);
               float: right;
               font-size: 1rem;
               font-weight: bold;
               width: 74.9vw;
               margin-left: 3vw;
               margin-top: 5vh;
               padding-top: 1.7vh;
               /* border: 1px solid black; */
            }

            .home-link-text{
               text-decoration: none;
               color: blue;
               font-weight: 900;
            }

            .img-div-flex{
               display: flex;
               height: 54vh;
               width: 77.9vw;
               /* border: 1px solid black; */
            }

            .img-div{
               height: 54vh;
               width: 45vw;
               /* border: 1px solid black; */
               margin-left: 3vw;
               margin-top: 5vh;
               padding-top: 5vh;
            }

            .project-information{
               height: 42.5vh;
               width: 26vw;
               background-color: white;
               margin-left: 1.5vw;
               margin-top: 5vh;
               /* border: 1px solid black; */
            }

            .project-information-heading{
               font-family: 'Raleway', sans-serif;
               color:rgb(54, 54, 54);
               font-size: 1.4rem;
               font-weight: bold;
               width: 20vw;
               margin-left: 2.5vw;
               margin-top: 4vh;
               /* border: 1px solid black; */
            }

            .project-information-underline{
               width: 20.5vw;
               margin-left: 2.5vw;
               margin-right: 0vw;
               /* border: 1px solid black; */
            }

            .project-shortinfo{
               font-family: 'Poppins', sans-serif;
               color:rgb(54, 54, 54);
               width: 23vw;
               margin-left: 2.5vw;
               font-size: 0.9rem;
               /* font-weight:900; */
               /* border: 1px solid black; */
            }

            .project-shortinfo-bold{
               font-family: 'Raleway', sans-serif;
               color:rgb(54, 54, 54);
               font-size: 0.9rem;
            }
            

            .project-description{
               background-color: white;
               margin-top: 0;
               padding-top: 1.5vh;
               width: 26vw;
               height: 50vh;
               float: right;
               margin-right: 2.3vw;
               /* border: 1px solid black; */
            }

            .project-description-heading{
               font-family: 'Raleway', sans-serif;
               color:rgb(54, 54, 54);
               font-size: 1.4rem;
               font-weight: bold;
               width: 20vw;
               margin-left: 2.5vw;
               margin-top: 4vh;
               /* border: 1px solid black; */
            }

            .project-descri{
               font-family: 'Poppins', sans-serif;
               color:rgb(54, 54, 54);
               margin-left: 2.5vw;
               font-size: 0.9rem;
               width: 23vw;
               /* border: 1px solid black; */
            }